@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

body {
	font-family: "Lora", serif;
	font-family: "Open Sans", sans-serif;
}
